<!-- _backgroundImage: url({{ marp_cover_background_image }}) -->
<!-- _header: '' -->
<!-- _footer: '**{{ kpa_author }}** | _{{ kpa_copyright }}_' -->

{% if slide.backcover is defined and slide.backcover | bool%}

# {{ slide.title }}

{{ slide.signature }}

{% else %}

<div class='coverlogo'>
<div>

![width:100px]({{ kpa_cover_logo }})

</div><div>

<span class="txt-title">{{ kpa_title }}</span>

</div></div>

{{ kpa_subtitle }}

{% endif %}

<!-- You can also write down presenter notes in HTML comments. -->
